{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <!-- {% for img in image %}
    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{img.image.url}}" alt="Card image cap" data-toggle="modal" data-target="#exampleModalCenter">
    <div class="card-body">
    </div>
    </div>
    {% endfor %} -->
    <!-- Trigger the Modal -->

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for cat in location_result %}
            <a class="dropdown-item" href="/location/{{cat.location}}">{{cat.location}}</a>
            {% endfor %}
        </div>
      </div>

<div class="row"> 
  <div class="column">
{% for personal in personal %}
<img class="myImg" src="{{personal.image.url}}" alt="pics"  data-toggle="modal" data-target="#{{personal.id}}" style="width:100%;max-width:300px">

<!-- Modal -->
<div class="modal fade" id="{{personal.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">{{personal.name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <img src="{{personal.image.url}}"
            data-toggle="modal" data-target="#{{image.id}}"
            alt="pics" style="width:100%;" >
            <p><strong>description</strong> <p> {{personal.descripition}}</p>
            <br>
            <p><strong>location</strong></p> <p>{{personal.location}}</p>
            <br>
            <p><strong>Category</strong></p> <p>{{personal.category}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="copyLink({{personal.id}})">Copy link</button>
          <input class="form-control" type="text" value="127.0.0.1:8000{{personal.image.url}}"
            id="thislinkhere-{{personal.id}}">
        </div>
      </div>
    </div>
  </div>
     
 
     {% endfor %}
</div>
 

  <div class="column">
  {% for travel in travel %}
  <img class="myImg" src="{{travel.image.url}}" alt=""  data-toggle="modal" data-target="#{{travel.id}}" style="width:100%;max-width:300px">

  <!-- Modal -->
<div class="modal fade" id="{{travel.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{travel.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <img src="{{travel.image.url}}"
          data-toggle="modal" data-target="#{{image.id}}"
          alt="pics" style="width:100%;" >
          <p><strong>description</strong> <p> {{travel.descripition}}</p>
          <br>
          <p><strong>location</strong></p> <p>{{travel.location}}</p>
          <br>
          <p><strong>Category</strong></p> <p>{{travel.category}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="copyLink({{travel.id}})">Copy link</button>
        <input class="form-control" type="text" value="127.0.0.1:8000{{travel.image.url}}" id="thislinkhere-{{travel.id}}">
      </div>
    </div>
  </div>
</div>
   
  {% endfor %}
  </div>



    <div class="column">
      {% for sports in sports %}
      <img class="myImg" src="{{sports.image.url}}" alt=""  data-toggle="modal" data-target="#{{sports.id}}" style="width:100%;max-width:300px">

        <!-- Modal -->
        <div class="modal fade" id="{{sports.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{sports.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <img src="{{sports.image.url}}"
                  data-toggle="modal" data-target="#{{image.id}}"
                  alt="pics" style="width:100%;" >
                  <p><strong>description</strong> <p> {{sports.descripition}}</p>
                  <br>
                  <p><strong>location</strong></p> <p>{{sports.location}}</p>
                  <br>
                  <p><strong>Category</strong></p> <p>{{sports.category}}</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="copyLink({{sports.id}})">Copy link</button>
                <input class="form-control" type="text" value="127.0.0.1:8000{{sports.image.url}}" id="thislinkhere-{{sports.id}}">
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
     

    <div class="column">
    {% for family in family %}
    <img class="myImg" src="{{family.image.url}}" alt=""  data-toggle="modal" data-target="#{{family.id}}" style="width:100%;max-width:300px">

      <!-- Modal -->
      <div class="modal fade" id="{{family.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">{{family.name}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <img src="{{family.image.url}}"
                data-toggle="modal" data-target="#{{image.id}}"
                alt="pics" style="width:100%;" >
                <p><strong>description</strong> <p> {{family.descripition}}</p>
                <br>
                <p><strong>location</strong></p> <p>{{family.location}}</p>
                <br>
                <p><strong>Category</strong></p> <p>{{family.category}}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" onclick="copyLink({{family.id}})">Copy link</button>
              <input class="form-control" type="text" value="127.0.0.1:8000{{family.image.url}}" id="thislinkhere-{{family.id}}">
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div> 

  <script>
      function copyLink( id ) {
          /* Get the text field */
          var copyText = document.getElementById( "thislinkhere-" + id );

          /* Select the text field */
          copyText.select();

          /* Copy the text inside the text field */
          document.execCommand( "copy" );

          /* Alert the copied text */
          alert( "Don't forget to share this link: " + copyText.value );
          }

      </script>
{% endblock %}