{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <!-- {% for img in image %}
    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{img.image.url}}" alt="Card image cap" data-toggle="modal" data-target="#exampleModalCenter">
    <div class="card-body">
    </div>
    </div>
    {% endfor %} -->
    <!-- Trigger the Modal -->

<div class="row"> 
  <div class="column">
{% for personal in personal %}
<img class="myImg" src="{{personal.image.url}}" alt="pics"  data-toggle="modal" data-target="#exampleModalCenter{{personal.image.id}}" style="width:100%;max-width:300px">

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter{{personal.image.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <img src="{{personal.image.url}}" alt="pics" style="width:100%;"  data-toggle="modal" data-target="#exampleModalCenter{{personal.image.id}}">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
     
     
{% endfor %}
</div>
 

  <div class="column">
  {% for travel in travel %}
  <img class="myImg" src="{{img.travel.url}}" alt=""  data-toggle="modal" data-target="#exampleModalCenter" style="width:100%;max-width:300px">
  {% endfor %}
  </div>



    <div class="column">
      {% for sports in sports %}
      <img class="myImg" src="{{img.sports.url}}" alt=""  data-toggle="modal" data-target="#exampleModalCenter" style="width:100%;max-width:300px">
      {% endfor %}
    </div>
     

    <div class="column">
    {% for family in family %}
    <img class="myImg" src="{{img.family.url}}" alt=""  data-toggle="modal" data-target="#exampleModalCenter" style="width:100%;max-width:300px">
    {% endfor %}
    </div>
  </div> 


{% endblock %}